<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
                </li>

        <li<%= sidebar_current("docs-heroku-index") %>>
        <a href="/docs/providers/heroku/index.html">Heroku Provider</a>
                </li>

        <li<%= sidebar_current("docs-heroku-datasource") %>>
        <a href="#">Data Sources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-heroku-datasource-addon") %>>
          <a href="/docs/providers/heroku/d/addon.html">heroku_addon</a>
                    </li>
                    <li<%= sidebar_current("docs-heroku-datasource-app") %>>
          <a href="/docs/providers/heroku/d/app.html">heroku_app</a>
                    </li>
                    <li<%= sidebar_current("docs-heroku-datasource-pipeline") %>>
          <a href="/docs/providers/heroku/d/pipeline.html">heroku_pipeline</a>
                    </li>
                    <li<%= sidebar_current("docs-heroku-datasource-space") %>>
          <a href="/docs/providers/heroku/d/space.html">heroku_space</a>
                    </li>
                    <li<%= sidebar_current("docs-heroku-datasource-space-peering-info") %>>
          <a href="/docs/providers/heroku/d/space_peering_info.html">heroku_space_peering_info</a>
                    </li>
                  <li<%= sidebar_current("docs-heroku-datasource-team") %>>
                    <a href="/docs/providers/heroku/d/team.html">heroku_team</a>
                  </li>
                </ul>

        <li<%= sidebar_current("docs-heroku-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-heroku-resource-account-feature") %>>
                      <a href="/docs/providers/heroku/r/account_feature.html">heroku_account_feature</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-addon") %>>
                      <a href="/docs/providers/heroku/r/addon.html">heroku_addon</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-addon-attachment") %>>
                      <a href="/docs/providers/heroku/r/addon_attachment.html">heroku_addon_attachment</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-app-x") %>>
                      <a href="/docs/providers/heroku/r/app.html">heroku_app</a>
                    </li>

                  <li<%= sidebar_current("docs-heroku-resource-app-config-association") %>>
                    <a href="/docs/providers/heroku/r/app_config_association.html">heroku_app_config_association</a>
                  </li>

                    <li<%= sidebar_current("docs-heroku-resource-app-feature") %>>
                      <a href="/docs/providers/heroku/r/app_feature.html">heroku_app_feature</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-app-release") %>>
                      <a href="/docs/providers/heroku/r/app_release.html">heroku_app_release</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-app-webhook") %>>
                      <a href="/docs/providers/heroku/r/app_webhook.html">heroku_app_webhook</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-build") %>>
                      <a href="/docs/providers/heroku/r/build.html">heroku_build</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-cert") %>>
                      <a href="/docs/providers/heroku/r/cert.html">heroku_cert</a>
                    </li>

                  <li<%= sidebar_current("docs-heroku-resource-config") %>>
                    <a href="/docs/providers/heroku/r/config.html">heroku_config</a>
                  </li>

                    <li<%= sidebar_current("docs-heroku-resource-domain") %>>
                      <a href="/docs/providers/heroku/r/domain.html">heroku_domain</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-drain") %>>
                      <a href="/docs/providers/heroku/r/drain.html">heroku_drain</a>
                    </li>

                  <li<%= sidebar_current("docs-heroku-resource-formation") %>>
                    <a href="/docs/providers/heroku/r/formation.html">heroku_formation</a>
                  </li>

                    <li<%= sidebar_current("docs-heroku-resource-pipeline-x") %>>
                      <a href="/docs/providers/heroku/r/pipeline.html">heroku_pipeline</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-pipeline-config-var") %>>
                      <a href="/docs/providers/heroku/r/pipeline_config_var.html">heroku_pipeline_config_var</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-pipeline-coupling") %>>
                      <a href="/docs/providers/heroku/r/pipeline_coupling.html">heroku_pipeline_coupling</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-slug") %>>
                      <a href="/docs/providers/heroku/r/slug.html">heroku_slug</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-space") %>>
                      <a href="/docs/providers/heroku/r/space.html">heroku_space</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-space-app-access") %>>
                      <a href="/docs/providers/heroku/r/space_app_access.html">heroku_space_app_access</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-space-inbound-ruleset") %>>
                      <a href="/docs/providers/heroku/r/space_inbound_ruleset.html">heroku_space_inbound_ruleset</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-space-peering-connection-accepter") %>>
                      <a href="/docs/providers/heroku/r/space_peering_connection_accepter.html">heroku_space_peering_connection_accepter</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-space-vpn-connection") %>>
                      <a href="/docs/providers/heroku/r/space_vpn_connection.html">heroku_space_vpn_connection</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-team-collaborator") %>>
                      <a href="/docs/providers/heroku/r/team_collaborator.html">heroku_team_collaborator</a>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-team-member") %>>
                      <a href="/docs/providers/heroku/r/team_member.html">heroku_team_member</a>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
